<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<aside th:fragment="sidebarId"  class="sidebar">
  <a href="dashboard.html" class="sb-brand"><i class="bi bi-hexagon-fill"></i><span class="txt">Company</span></a>
  <div class="sb-label">Main</div>
  <nav class="nav flex-column">
    <a class="nav-link nav-toggle" data-bs-toggle="collapse" href="#mDash" aria-expanded="false" title="Dashboard">
	    <i class="bi bi-speedometer2"></i><span class="txt">Dashboard</span>
	    <i class="bi bi-chevron-down arr txt"></i>
    </a>
    <div class="collapse sub" id="mDash"><a class="nav-link" href="dashboard.html">
	    <i class="bi bi-person-gear"></i><span class="txt">Admin</span></a>
	    <a class="nav-link" href="student.html">
	    <i class="bi bi-mortarboard"></i>
	    <span class="txt">Student</span></a>
    </div>
    
    
    
    <a class="nav-link nav-toggle" data-bs-toggle="collapse" href="#menus" aria-expanded="false" title="Dashboard">
	    <i class="bi bi-menu-button"></i><span class="txt">Patient Master</span>
	    <i class="bi bi-chevron-down arr txt"></i>
    </a>
    <div class="collapse sub" id="menus">
    	<a class="nav-link" th:href="@{/admin/menus}">
	    	<i class="bi bi-person-gear"></i><span class="txt">Insert</span>
	    </a>
	    
    </div>
    
    
    <a class="nav-link nav-toggle" data-bs-toggle="collapse" href="#state" aria-expanded="false" title="Dashboard">
	    <i class="bi bi-menu-button"></i><span class="txt">State Master</span>
	    <i class="bi bi-chevron-down arr txt"></i>
    </a>
    <div class="collapse sub" id="state">
    	<a class="nav-link" th:href="@{/admin/state}">
	    	<i class="bi bi-person-gear"></i><span class="txt">Embed State</span>
	    </a>
	    
    </div>
    
    
  </nav>
</aside>